@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');



@import "tailwindcss";
body{
     
}



.container-custom {
    
    max-width: 1400px; 
    margin: 0 auto; }


.page-bg {

      background: #f368e00a;
 
}






